<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <% data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <% result1 = connection.exec("select weight, give_for from crops where not(give_for = '自家消費');") %>
    <% data1 = [] %>
    <% result1.each do |record1| %>
      <% data1 << "ゴーヤの大きさ：#{record1["weight"]}　ゴーヤの出荷先：#{record1["give_for"]}" %>
    <% end %>
    <% result2 = connection.exec("select give_for, quality from crops where quality = false;") %>
    <% data2 = [] %>
    <% result2.each do |record2| %>
      <% data2 << "ゴーヤの売った相手：#{record2["give_for"]}　ゴーヤの品質：#{record2["quality"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goya1.cgi" method="POST">
      下記のボタンを押すと、ゴーヤの大きさと出荷先の情報ページに飛びます<br><br>
      <input type="text" name="goya_give" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goya2.cgi" method="POST">
      下記のボタンを押すと、ゴーヤの売った相手とゴーヤの品質の情報ページに飛びます<br><br>
      <input type="text" name="goya_quality" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>